@import "tailwindcss";

@theme {
  --color-brand-orange: #e05a10;
  --color-brand-orange-hover: #c24b0c;
  --color-brand-navy: #0b1528;
  --color-brand-dark: #091223;
  --color-brand-light: #f8fafc;
  
  --font-sans: var(--font-geist-sans), Arial, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

:root {
  --background: #ffffff;
  --foreground: #1e293b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #091223;
    --foreground: #f8fafc;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 96px; /* Altura de la cabecera en mobile */
}

@media (min-width: 1200px) {
  html {
    scroll-padding-top: 132px; /* Altura de la cabecera en desktop */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

